<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <p>Hello,</p>
    <p>You requested to register yourself. Please click the link below to complete your registration:</p>
    <a href="@{'localhost:8088/#/registration/{email}/{token}">Complete registration</a>
    <p>If the link above does not work, please try pasting this link into your address bar: localhost:8088/#/registration/{email}/{token}</p>
    <p>If you did not request this account registration, please ignore this email.</p>
    <p>Best regards,</p>
    <p>Your App Team</p>
</body>
</html>