<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello,</p>
    <p>You requested a password reset. Please click the link below to reset your password:</p>
    <a href="@{'localhost:8088/#/reset/{email}/{token}">Reset password</a>
    <p>If the link above does not work, please try pasting this link into your address bar: localhost:8088/#/reset/{email}/{token}</p>
    <p>If you did not request this password reset, please ignore this email.</p>
    <p>Best regards,</p>
    <p>Your App Team</p>
</body>
</html>